<div class="footer bg-light flex-center">

    <div id="footer-box" class="flex-center" style="width: 50%;">
        <div class="flex-col;" style="margin-right: 10%;">
            <h4>Email</h4>
            <p>
                <a href="mailto:seanohioroberts@gmail.com" style="color: black;">seanohioroberts@gmail.com</a>
            </p>
        </div>
        <div class="flex-col">
            <h4>Socials</h4>
            <p>
                <a href="https://github.com/SeanFromOhio" target="_blank" style="margin-right: 10px;">
                    <i class="fab fa-github" style="color: black;"></i>
                </a>
                <a href="https://www.linkedin.com/in/sean-roberts-ohio95/" target="_blank">
                    <i class="fab fa-linkedin" style="color: black;"></i>
                </a>
            </p>
        </div>

    </div>
</div>