{% extends "base.html" %}

{% block title %} Contact {% endblock title %}

{% block content %}
<div class="full-screen flex-col font-Raleway">
    <div class="container">
        {% for message in get_flashed_messages() %}
        <div class="alert alert-light">
            <button type="button" class="close" data-dismiss="alert">&times;</button>
            <i class="far fa-check-square"></i> {{ message }}
        </div>
        {% endfor %}
    </div>
    <div class="flex-col" style="width: 50%;">
        <h1 style="font-size: 5.9vmin; text-align: center;"><b>Looking forward to hearing from you</b></h1>
        <br>
    </div>
    <div class="bg-dark text-center" style="width: 50%; max-height: 57%;">
        <form action="" method="POST" class="bg-black" style="padding: 5px;">
            <div class="form-row">
                <div class="form-group col-md-6">
                    <label for="name">Name *</label>
                    <input class="form-control" name="name" id="name" type="text" required>
                </div>
                <div class="form-group col-md-6">
                    <label for="email">Email *</label>
                    <input class="form-control" name="email" id="email" type="email" required>
                </div>
            </div>
            <div class="form-group">
                <label for="subject">Subject *</label>
                <input class="form-control" name="subject" id="subject" type="text" required>
            </div>
            <div class="form-group">
                <label for="message">Message *</label>
                <textarea class="form-control" name="message" id="message" rows="4" required>
                </textarea>
            </div>
            <button type="submit" class="btn btn-primary custom-button" style="width: 100%;">Send</button>
        </form>

    </div>
</div>
{% endblock content %}