{% extends "base.html" %}

{% block content %}

<div class="border-solid full-screen text-center">
    Introduction HERE
</div>

<div class="border-solid full-screen text-center">
    <div class="project-row">
        <div class="border-solid project-box" style="margin-right: 4%;">
            Project 1
        </div>
        <div class="border-solid project-box">
            Project 2
        </div>
    </div>

    <div class="project-row">
        <div class="border-solid project-box" style="margin-right: 4%;">
            Project 3
        </div>
        <div class="border-solid project-box">
            Project 4
        </div>
    </div>
</div>


{% endblock content %}