{% extends "base.html" %}

{% block title %} Resume {% endblock title %}

{% block content %}
<div id="regular-resume" class="full-screen font-Raleway">
    <h2><b>Resume // </b>
        <a class="btn btn-light custom-button"
                     href="{{ url_for('static', filename='doc/Technical Resume V2.6.pdf') }}"
                     target="_blank">Download Resume
        </a>
    </h2>
    <div style="position: relative; height: 75%; width: 100%;">
        <div id="google-doc-container">
            <div class="google-doc">
                <iframe
                    src="https://docs.google.com/document/d/e/2PACX-1vRAxb2so_Vgh_HdBMbE7O0aVvolVvluJ9s9oXE3Wf0peJFNm0O3se8uD6NDtv2iFtjQANSiwhBk43ZH/pub?embedded=true"
                >
                </iframe>
            </div>
        </div>
    </div>
</div>

<script>
    var pageWidth, pageHeight;
    var basePage = {
      width: 826,
      height: 1066,
      scale: 1,
      scaleX: 1,
      scaleY: 1
    };
    $(function(){
      var $page = $('.google-doc');
      getPageSize();
      scalePages($page, pageWidth, pageHeight);
      //using underscore to delay resize method till finished resizing window
      $(window).resize(_.debounce(function () {
        getPageSize();
        scalePages($page, pageWidth, pageHeight);
      }, 150));
    function getPageSize() {
      pageHeight = $('#google-doc-container').height();
      pageWidth = $('#google-doc-container').width();
    }
    function scalePages(page, maxWidth, maxHeight) {
      var scaleX = 1, scaleY = 1;
      scaleX = maxWidth / basePage.width;
      scaleY = maxHeight / basePage.height;
      basePage.scaleX = scaleX;
      basePage.scaleY = scaleY;
      basePage.scale = (scaleX > scaleY) ? scaleY : scaleX;
      var newLeftPos = Math.abs(Math.floor(((basePage.width * basePage.scale) - maxWidth)/2));
      var newTopPos = Math.abs(Math.floor(((basePage.height * basePage.scale) - maxHeight)/2));
      page.attr('style', '-webkit-transform:scale(' + basePage.scale + ');left:' + newLeftPos + 'px;top:' + newTopPos + 'px;');
    }
    });
</script>

{% endblock content %}
